.footer
 .footer__gray
  .cont
    .row.offset-md-6  
     .col-12
      nav.footer__menu 
       ul.footer__list 
        li.footer__item
         a.footer__link(href='#About') About us
        li.footer__item  
         a.footer__link(href='#Services') Services
        li.footer__item
         a.footer__link(href='#working') How we are working
        li.footer__item
         a.footer__link(href='#Industries') Industries
        li.footer__item 
         a.footer__link(href='#Contacts') Contacts
    .row.offset-md-8 
     .col-12
       nav.footers__menus 
        ul.footers__lists 
          li.footers__items
           a(href='#').footers__links.policy Privacy Policy
          li.footer__items
           a(href='#').footers__links.policy Terms & Conditions 
 section.copy
  .container.container--medium
   .row 
    .col-12.offset-md-4.col-md-6 
     +paragraph('Heilo Royal Support Limited© 2021 All rights reserved' , ' paragraph__copy')      
