.header 
 .cont 
  .header__body
   a(href='#').header__logo
    img(src="./images/logo.png")
   .header__burger
    span
   nav.header__menu 
    ul.header__list 
     li.header__item
      a.header__link(href='#About') About us
     li.header__item  
      a.header__link(href='#Services') Services
     li.header__item
      a.header__link(href='#working') How we are working
     li.header__item
      a.header__link(href='#Industries') Industries
     li.header__item 
      a.header__link(href='#Contacts') Contacts
         