$colorFont: #49585b;
$colorAkcent: #86b097;
$colorBackground1: #e7f1f2;
$colorBackground2: #c6dee0;
$luxewill-black: #202432;
$luxewill-primary: #ffc48e;
$luxewill-gray: #ebebeb;
$luxewill-gray-second: #f1f1f1;
$luxewill-gray-four: #f9fdff;
$luxewill-gray-three: #f8f8f8;
$luxewill-black-second: #272d3d;
